/* CowParent.css */

.custom-btn-text-black {
  color: black;
}
@media (max-width: 576px) {
  .ActionButtons {
      flex-direction: column;
  }
  .ActionButtons .btn {
      width: 100%;
      margin-bottom: 10px;
  }
}
