.h1{
    font-size:50px;
    color:blue;
    margin-top: 40px;
}

.h2{
    text-align: center;
}

.div2{
   text-align:center ;
}

.ActionButtons {
   display:flex;
   justify-content: center;
   gap: 180px;
   margin-top: 10px;
 }

 .input{
   background-color:rgb(141, 186, 248) ;
 }

 
.btn4{
  color: black;
  border-radius: 5px;
  background-color: rgb(201, 216, 243);
  border-color: rgb(87, 198, 231);
  cursor: pointer;
  
}