body {
    background-image: url('./images/background.jpeg'); /* Adjust the path to your background image */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; /* Ensure the background covers the entire viewport height */
    margin: 0;
    padding: 0;
  }
  